<html>
    <head>
        <title>Solutions</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>

    <body>
        <style>
            .custom-background{
                background: radial-gradient(#ffffff, #ffeaba);
            }

            body
            {
                background: radial-gradient(#ffffff, #c6d7ee);
            }

            .navbar-custom {
                background-color: #2e3b4e !important;
                padding: 10px 2%;
            }
        </style>
            
        <script>
            function background_set()
            {
                var sol_no = localStorage.getItem("sol_no");
                var sol = document.getElementById(sol_no);
                sol.classList.add('custom-background');
            }
            window.onload = background_set;
        </script>

        <nav class="navbar navbar-custom bg-info justify-content-center ">

            <ul class="navbar-nav">

                <li class="nav-item center">
                    <img src="../static/images/logo.png" width="150" height="30" />
                </li>

            </ul>

        </nav>

        <div class="card shadow p-3 mb-5 bg-white rounded" style="margin: 10px; margin-top: 20px;" id="stronger_ssl_context">
            <div class="card-body" id="sol1">
                <h5 class="card-title"><b>Stronger SSL Context</b></h5>
                <pre>
SSLContext sc = SSLContext.getInstance("TLS");
                </pre>

            </div>
        </div>

        <div class="card shadow p-3 mb-5 bg-white rounded" style="margin: 10px;" id="gcm">
            <div class="card-body" id="sol2">
                <h5 class="card-title"><b>Use GCM</b></h5>
                <pre>
Cipher c = Cipher.getInstance("AES/GCM/NoPadding");
c.init(Cipher.ENCRYPT_MODE, k, iv);
byte[] cipherText = c.doFinal(plainText);
                </pre>

            </div>
        </div>

        <div class="card shadow p-3 mb-5 bg-white rounded" style="margin: 10px;" id="bouncy_castle">
            <div class="card-body" id="sol3">
                <h5 class="card-title"><b>Using Bouncy Castle</b></h5>
                <pre>
public static byte[] getEncryptedPassword(String password, byte[] salt) throws NoSuchAlgorithmException, InvalidKeySpecException {
    PKCS5S2ParametersGenerator gen = new PKCS5S2ParametersGenerator(new SHA256Digest());
    gen.init(password.getBytes("UTF-8"), salt.getBytes(), 4096);
    return ((KeyParameter) gen.generateDerivedParameters(256)).getKey();
}
                </pre>
            </div>
        </div>>

        <div class="card shadow p-3 mb-5 bg-white rounded" style="margin: 10px;" id="untrusted_hostnameverifier">
            <div class="card-body" id="sol4">
                <h5 class="card-title"><b>Use TrustManager based on KeyStore</b></h5>
                <pre>
KeyStore ks = //Load keystore containing the certificates trusted

SSLContext sc = SSLContext.getInstance("TLS");

TrustManagerFactory tmf = TrustManagerFactory.getInstance("SunX509");
tmf.init(ks);

sc.init(kmf.getKeyManagers(), tmf.getTrustManagers(),null);
                </pre>
            </div>
        </div>>

        <div class="card shadow p-3 mb-5 bg-white rounded" style="margin: 10px;" id="untrustrusted_prng">
            <div class="card-body" id="sol5">
                <h5 class="card-title"><b>Use Secured Random Number Generator</b></h5>
                <pre>
import org.apache.commons.codec.binary.Hex;

String generateSecretToken() {
    SecureRandom secRandom = new SecureRandom();

    byte[] result = new byte[32];
    secRandom.nextBytes(result);
    return Hex.encodeHexString(result);
}
                </pre>
            </div>
        </div>>

        <div class="card shadow p-3 mb-5 bg-white rounded" style="margin: 10px;" id="untrustrusted_prng">
            <div class="card-body" id="sol6">
                <h5 class="card-title"><b>Using Stronger Cipher</b></h5>
                <pre>
Cipher c = Cipher.getInstance("AES/GCM/NoPadding");
c.init(Cipher.ENCRYPT_MODE, k, iv);
byte[] cipherText = c.doFinal(plainText);
                </pre>
            </div>
        </div>>

        

    </body>
</html>